<template>
  <section v-if="userlistes">
    <div class="text-center">
      <h4>
        週報表審核
      </h4>
    </div>
    <b-card
      no-body
      class="mb-1"
      v-for="(users, idx) in userlistes"
      :key="users.id"
    >
      <b-card-header header-tag="header" class="p-0" role="tab">
        <div class="d-grid gap-2">
          <b-button
            block
            variant="secondary"
            v-b-toggle="`accordion-${users.id}`"
          >
            {{ capitalize(users.username) }}
            {{ users.fullname }}
            <b-badge pill variant="info">{{ comp(users.workhours) }}</b-badge>
          </b-button>
        </div>
      </b-card-header>
      <b-collapse
        :id="`accordion-${users.id}`"
        accordion="table-accordion"
        role="tabpanel"
      >
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="10">
                <h3 style="text-align: center">
                  {{ capitalize(users.username) }} 工作週報
                </h3>
              </th>
            </tr>
            <tr>
              <th>計畫名稱</th>
              <th>日期</th>
              <th>工作說明</th>
              <th>工時(hr)</th>
              <th>加班</th>
              <th>加班工時(hr)</th>
              <th>
                <label class="form-checkbox">
                  全部審核(批准)
                  <input
                    type="checkbox"
                    @click="clickCheckAll(idx)"
                    :value="allChecked(idx)"
                  />
                  <i class="form-icon"></i>
                </label>
              </th>
              <!-- <th>
                <label class="form-checkbox"> Reject </label>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr v-for="worklist in users.workhours" :key="worklist.id">
              <td>{{ worklist.task.taskname }}</td>
              <td>{{ worklist.date }}</td>
              <td>{{ worklist.description }}</td>
              <td>{{ worklist.hour }}</td>
              <td>{{ worklist.is_overtime ? "是" : "否" }}</td>
              <td>{{ worklist.overtime_hour }}</td>
              <td>
                <label class="form-checkbox">
                  <input
                    type="checkbox"
                    @click="clickCheckbox(worklist.id, worklist)"
                    v-model="worklist.hr_checked"
                    :value="worklist.user_id"
                    number
                  />
                  <i class="form-icon">
                    {{ worklist.hr_checked ? "已審核" : "未審核" }}
                  </i>
                </label>
              </td>
              <td v-if="hideElement">
                <label class="form-checkbox">
                  <input
                    type="checkbox"
                    @click="clickCheckbox(worklist.id, worklist)"
                    v-model="worklist.manager_checked"
                    :value="worklist.user_id"
                    number
                  />
                  <i class="form-icon">
                    {{ worklist.manager_checked ? "已審核" : "未審核" }}
                  </i>
                </label>
              </td>
              <!-- <td>
                <b-button
                  type="button"
                  class="btn-danger"
                  @click="toggleworklistId(worklist.id)"
                >
                  Reject
                </b-button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </b-collapse>
    </b-card>
    <div>
      <!-- <transition name="model">
        <div v-if="this.activeTopic" class="backdrop">
          <reject-memberworklist
            :key="activeTopic.id"
            :worklis-id="activeTopic.id"
            :user-id="activeTopic.user_id"
            :task-id="activeTopic.task_id"
            :task-name="activeTopic.task.taskname"
            :work-date="activeTopic.date"
            :worklis-description="activeTopic.description"
            :work-hour="activeTopic.hour"
            :overtime-hour="activeTopic.overtime_hour"
            :manager-checked="activeTopic.manager_checked"
            @close="hideWorklists"
          >
          </reject-memberworklist> 
        </div>
      </transition>-->
      <!-- <b-progress
        :value="badgeCount"
        :max="max"
        show-progress
        animated
      ></b-progress> -->
    </div>
  </section>
  <div v-else>No data</div>
</template>

<script>
import { getHrCheckUsersAPI, updateWorkhourAPI } from "../../service/apis.js";
// import RejectMemberworklist from "../worklistverify/RejectMemberworklist.vue";

export default {
  components: {},
  data() {
    return {
      userlistes: [],
      isChecklist: [],
      checkAll: false,
      activeTopic: null,
      max: 100,
      value: 100,
      hideElement: false,
      // workhours: [],
    };
  },
  mounted() {
    this.get_members();
  },
  computed: {
    comp() {
      return (workhours) =>
        workhours.reduce(
          (sum, worklist) => (worklist.hr_checked === false ? sum + 1 : sum),
          0
        );
    },
  },
  methods: {
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },
    hideWorklists() {
      this.activeTopic = false;
    },
    toggleworklistId(worklistId) {
      this.userlistes.forEach((userliste) => {
        this.activeTopic = userliste.workhours.find(
          (workhour) => workhour.id === worklistId
        );
      });
      console.log("activeTopic Data:");
      console.log(this.activeTopic);
    },
    allChecked(idx) {
      return this.userlistes[idx].workhours.some((el) => el.hr_checked);
    },
    clickCheckAll(idx) {
      this.checkAll = !this.checkAll;
      const currentUser = this.userlistes[idx];
      for (let i = 0; i < currentUser.workhours.length; i++) {
        const id = currentUser.workhours[i].id;
        const worklist = currentUser.workhours[i];
        currentUser.workhours[i].hr_checked = !currentUser.workhours[i]
          .hr_checked;
        console.log(id);
        console.log(worklist);
        console.log(currentUser.workhours[i].hr_checked);
        console.log(currentUser.workhours[i].manager_checked);
        currentUser.workhours[i].hr_checked = this.checkAll;
        currentUser.workhours[i].manager_checked = this.checkAll;
        updateWorkhourAPI(id, worklist);
      }

      // this.checkAll = false;
    },
    // clickCheckAll() {
    //   var _this = this;
    //   _this.checkAll = !_this.checkAll;
    //   for (var i = 0; i < _this.userlistes.length; i++) {
    //     var checkedData1 = _this.userlistes[i];
    //     var user_id = _this.userlistes[i].id;
    //     console.log("user_id = " + user_id);
    //     for (var y = 0; y < checkedData1.workhours.length; y++) {
    //       var checkedData = checkedData1.workhours[y];
    //       var checkdata_userId = checkedData1.workhours[y].user_id;
    //       console.log("checkdata_userId = " + checkdata_userId);
    //       if (user_id == checkdata_userId) {
    //         checkedData1.workhours[y].hr_checked = _this.checkAll;
    //       }
    //       console.log(checkedData);
    //       // updateWorkhourAPI(checkedData.id, checkedData);
    //     }
    //   }
    // },
    clickCheckbox(id, worklist) {
      var _this = this;
      worklist.hr_checked = !worklist.hr_checked;
      worklist.manager_checked = !worklist.manager_checked;

      if (worklist.hr_checked) {
        _this.isChecklist.push(id);
        updateWorkhourAPI(id, worklist);
      } else {
        var last = _this.isChecklist.length - 1;
        _this.isChecklist.splice(last, 1);
        updateWorkhourAPI(id, worklist);
      }
      if (_this.isChecklist.length == _this.userlistes.length) {
        _this.checkAll = true;
      } else {
        _this.checkAll = false;
      }
    },
    get_members() {
      getHrCheckUsersAPI().then(
        (response) => (this.userlistes = response.data)
      );
    },
  },
};
</script>

<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.model-enter-active,
.model-leave-active {
  transition: opacity 0.5s;
}
.model-enter, .model-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
