<template>
  <section>
    <b-form-input
      type="search"
      v-model="search"
      placeholder="請輸入欲搜尋計畫項目之名稱"
      @input="inputTask()"
    ></b-form-input>
  </section>
</template>

<script>
export default {
  data() {
    return {
      search: null,
    };
  },
  methods: {
    inputTask() {
      // console.log("child changed: " + this.selected);
      this.$emit("input", this.search);
    },
  },
};
</script>

<style>
</style>