<template>
  <section>
    <b-form-select
      v-model="selected"
      :options="options"
      text-field="username"
      value-field="username"
      @input="changeTask()"
    >
      <template #first>
        <b-form-select-option :value="null"
          >-- Select All --</b-form-select-option
        >
      </template>
    </b-form-select>
  </section>
</template>

<script>
export default {
  props: ["options"],
  data() {
    return {
      selected: null,
    };
  },
  methods: {
    changeTask() {
      // console.log("child changed: " + this.selected);
      this.$emit("input", this.selected);
    },
  },
};
</script>

<style></style>
