<template>
  <div>
    <!-- <section v-if="users">
      <table class="table table-striped table-bordered">
        <thead style="text-align: center">
          <tr>
            <th colspan="4" style="text-align: center"><h4>員工名單</h4></th>
          </tr>
          <tr>
            <th>id</th>
            <th>組別名稱</th>
            <th>姓名</th>
          </tr>
        </thead>
        <tbody>
          <router-link
            v-for="u in users"
            :key="u.id"
            :to="{ name: 'UserDetail', params: { id: u.id } }"
            tag="tr"
          >
            <td>{{ u.department_id }}</td>
            <td>{{ u.department.department_name }}</td>
            <td>{{ capitalize(u.username) }}</td>
          </router-link>
        </tbody>
      </table>
    </section> -->
    <section v-if="dp_users">
      <div class="text-center">
        <h3>部門清單</h3>
      </div>
      <b-card
        no-body
        class="mb-1"
        v-for="department in dp_users"
        :key="department.id"
      >
        <b-card-header header-tag="header" class="p-0" role="tab">
          <div class="d-grid gap-2">
            <b-button
              block
              variant="secondary"
              v-b-toggle="`accordion-${department.id}`"
            >
              {{ department.department_name }}
              <b-badge pill variant="info">{{ comp(department.user) }}</b-badge>
            </b-button>
          </div>
        </b-card-header>
        <b-collapse
          :id="`accordion-${department.id}`"
          accordion="table-accordion"
          role="tabpanel"
        >
          <div style="text-align: center">
            <table class="table table-striped table-bordered">
              <!-- <thead>
                <tr>
                  <th>User ID</th>
                  <th>組員名稱</th>
                </tr>
              </thead> -->
              <tbody>
                <router-link
                  v-for="user in department.user"
                  :key="user.id"
                  :to="{ name: 'UserDetail', params: { id: user.id } }"
                  tag="tr"
                >
                  <!-- <td>{{ user.id }}</td> -->
                  <td>{{ capitalize(user.username) }}  {{ user.fullname }}</td>
                </router-link>
              </tbody>
            </table>
          </div>
        </b-collapse>
      </b-card>
    </section>

    <base-card v-else>No users</base-card>
  </div>
</template>

<script>
// import { getUserAPI } from "../service/apis.js";
import { getUserlistsAPI, getDepartmentsAPI } from "../../service/apis.js";
export default {
  components: {},
  props: {
    msg: String,
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
    isUser: function() {
      return this.user != null;
    },
  },
  data() {
    return {
      user: null,
      users: null,
      dp_users: [],
    };
  },
  mounted: function() {
    this.get_user();
    this.get_dp_by_user();
  },

  methods: {
    comp(users) {
      return users.reduce(
        (sum, users) => (users.is_active === true ? sum + 1 : sum),
        0
      );
    },
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },
    async get_user() {
      await getUserlistsAPI().then((response) => (this.users = response.data));
    },
    async get_dp_by_user() {
      await getDepartmentsAPI().then(
        (response) => (this.dp_users = response.data)
      );
    },
  },
};
</script>
<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
</style>
