<template>
  <base-card>
    <adminchecked-members
      v-if="checklistAll_permission === 3 || superUser === true"
    ></adminchecked-members>
    <hrchecked-members
      v-if="checklistAll_permission === 2 || superUser === true"
    ></hrchecked-members>
  </base-card>
</template>

<script>
import BaseCard from "../components/UI/BaseCard.vue";
import HrcheckedMembers from "../components/hr/HrcheckedMembers.vue";
import AdmincheckedMembers from "../components/coo/AdmincheckedMembers.vue";

export default {
  components: { AdmincheckedMembers, HrcheckedMembers, BaseCard },
  computed: {
    checklistAll_permission() {
      return this.$store.getters.getchecklistAll_permission;
    },
    superUser() {
      return this.$store.getters.getSuperUser;
    },
  },
};
</script>

