<template>
  <section v-if="isLoggedIn">
    <base-card v-if="checklistAll_permission === 3">
      <b-button
        squared
        variant="outline-primary"
        v-for="cootab in cootabs"
        :key="cootab"
        @click="coocomponent = cootab"
        >{{ cootab }}
      </b-button>
      <keep-alive>
        <component :is="coocomponent" />
      </keep-alive>
    </base-card>
    <base-card v-else-if="checklistAll_permission === 2">
      <b-button
        squared
        variant="outline-primary"
        v-for="hrtab in hrtabs"
        :key="hrtab"
        @click="hrcomponent = hrtab"
        >{{ hrtab }}
      </b-button>
      <keep-alive>
        <component :is="hrcomponent" />
      </keep-alive>
    </base-card>
    <base-card v-else-if="checklistAll_permission === 4">
      <b-button
        squared
        variant="outline-primary"
        v-for="hrtab in hrtabs2"
        :key="hrtab"
        @click="hrcomponent2 = hrtab"
        >{{ hrtab }}
      </b-button>
      <keep-alive>
        <component :is="hrcomponent2" />
      </keep-alive>
    </base-card>
    <base-card v-else>
      <b-button
        squared
        variant="outline-primary"
        v-for="tab in tabs"
        :key="tab"
        @click="component = tab"
        >{{ tab }}
      </b-button>
      <keep-alive>
        <component :is="component" />
      </keep-alive>
    </base-card>
  </section>
  <section v-else>No Data</section>
</template>
<script>
import Vue from "vue";
import axios from "axios";

import 工作項目清單 from "../components/worklist/WorkhourLists.vue";
import 支出項目清單 from "../components/expenlist/ExpenLists.vue";
import 休假紀錄 from "../components/daysoff/DaysOffLists.vue";

import 週報表填寫 from "../components/hr/StoreHrworklist.vue";
import 週報表審核 from "../components/hr/HrcheckedMembers.vue";

import 部門清單 from "../components/coo/AdminUserlists.vue";
import 員工週報審核 from "../components/coo/AdmincheckedMembers.vue";

import BaseCard from "../components/UI/BaseCard.vue";

Vue.use(axios);

export default {
  name: "Home",
  components: {
    工作項目清單,
    支出項目清單,
    週報表填寫,
    週報表審核,
    休假紀錄,
    部門清單,
    員工週報審核,
    BaseCard,
  },
  props: {
    msg: String,
  },
  data() {
    return {
      tabs: ["工作項目清單", "支出項目清單", "休假紀錄"],
      hrtabs: ["週報表填寫", "週報表審核", "休假紀錄"],
      hrtabs2: ["週報表填寫", "休假紀錄"], // for Rosie
      cootabs: ["部門清單", "員工週報審核"],
      component: "工作項目清單",
      hrcomponent: "週報表填寫",
      hrcomponent2: "週報表填寫",
      coocomponent: "部門清單",
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
    checklistAll_permission() {
      return this.$store.getters.getchecklistAll_permission;
    },
  },
};
</script>
