<template>
  <section>
    <div>
      <!-- <b-input-group size="sm" class="mb-2">
        <b-input-group-prepend is-text>
          <b-icon icon="calendar-date"></b-icon>
        </b-input-group-prepend>
        <b-col sm="3">
          <date-picker
            v-model="datefilter"
            type="date"
            range
            placeholder="請選擇欲搜尋日期範圍"
          ></date-picker>
        </b-col>
      </b-input-group> -->
      <b-input-group size="sm" class="mb-2">
        <b-input-group-prepend is-text>
          <b-icon icon="search"></b-icon>
        </b-input-group-prepend>
        <b-col sm="3">
          <select-users
            :options="options"
            v-model="user_selected"
          ></select-users>
        </b-col>
      </b-input-group>
    </div>
    <b-table :items="tasksgroup" :fields="fields" striped responsive="sm">
      <template #cell(show_details)="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2"
          >{{ row.detailsShowing ? "Hide" : "Show" }} Details</b-button
        >
      </template>

      <template #row-details="row">
        <b-card v-for="worklist in row.item.workhours" :key="worklist.id">
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>department:</b>
            </b-col>
            <b-col>{{ worklist.user.department.department_name }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>User Name:</b>
            </b-col>
            <b-col>{{ worklist.user.username }}</b-col>
          </b-row>

          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>Date:</b>
            </b-col>
            <b-col>{{ worklist.date }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>Hours:</b>
            </b-col>
            <b-col>{{ worklist.hour }}/hr</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right">
              <b>description:</b>
            </b-col>
            <b-col>{{ worklist.description }}</b-col>
          </b-row>
        </b-card>
        <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
      </template>
    </b-table>
    <div>
      <div>
        <b-input-group size="sm" class="mb-2">
          <b-input-group-prepend is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <b-col sm="3">
            <select-users
              :options="options"
              v-model="user_selected"
            ></select-users>
          </b-col>
        </b-input-group>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th colspan="4">
              <h3 style="text-align: center">Task total_hour/month</h3>
            </th>
          </tr>
          <tr>
            <th>Task Name</th>
            <th>年/月</th>
            <th>User Name</th>
            <th>總時數</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="mte in resultQuery" :key="mte.id">
            <td>{{ mte.taskname }}</td>
            <td>{{ mte.year_month }}</td>
            <td>{{ capitalize(mte.username) }}</td>
            <td>{{ mte.total_hour }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
import {
  getTaskByGroupAPI,
  getTaskByAllusersAPI,
  // getTaskAPI,
  getUserlistsAPI,
} from "../../service/apis.js";
import selectUsers from "../filters/SelectUsers.vue";
export default {
  components: { selectUsers },
  props: {
    msg: String,
  },
  data() {
    return {
      search: null,
      datefilter: null,
      user_selected: null,
      // options: [{ taskname: "taskname", id: "id" }],
      options: [{ username: "username", id: "id" }],

      isBusy: false,
      tasksgroup: [],
      tasksUsers: [],

      fields: [
        {
          key: "id",
          label: "ID",
          sortable: true,
        },
        {
          key: "taskname",
          label: "簡稱",
        },
        "show_details",
      ],
    };
  },
  computed: {
    resultQuery() {
      const byTitle = (tasksUsers) =>
        tasksUsers.username.includes(this.user_selected);

      let tasksUsers = this.tasksUsers;

      if (this.user_selected) {
        tasksUsers = tasksUsers.filter(byTitle);
      }

      return tasksUsers;
    },
    resultQuery2() {
      const byTitle = (tasksgroup) =>
        tasksgroup.username.includes(this.user_selected);

      let tasksUsers = this.tasksUsers;

      if (this.user_selected) {
        tasksUsers = tasksUsers.filter(byTitle);
      }

      return tasksUsers;
    },
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
  },
  mounted: function() {
    this.get_tasks_by_group();
    this.get_tasks_by_allusers();
    // this.get_task();
    this.get_users_list();
  },
  methods: {
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },
    // async get_task() {
    //   await getTaskAPI().then((response) => (this.options = response.data));
    // },
    async get_users_list() {
      await getUserlistsAPI().then(
        (response) => (this.options = response.data)
      );
    },
    async get_tasks_by_group() {
      await getTaskByGroupAPI().then(
        (response) => (this.tasksgroup = response.data)
      );
    },
    async get_tasks_by_allusers() {
      await getTaskByAllusersAPI().then(
        (response) => (this.tasksUsers = response.data)
      );
    },
  },
};
</script>
<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
</style>
