<template>
  <section>
    <div>
      <b-input-group size="sm" class="mb-2">
        <b-input-group-prepend is-text>
          <b-icon icon="search"></b-icon>
        </b-input-group-prepend>
        <b-col sm="3">
          <select-users
            :options="options"
            v-model="user_selected"
          ></select-users>
        </b-col>
      </b-input-group>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="4">
            <h3 style="text-align: center">Task total_hour/month</h3>
          </th>
        </tr>
        <tr>
          <th>Task Name</th>
          <th>年/月</th>
          <th>User Name</th>
          <th>總時數</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="mte in resultQuery" :key="mte.id">
          <td>{{ mte.taskname }}</td>
          <td>{{ mte.year_month }}</td>
          <td>{{ capitalize(mte.username) }}</td>
          <td>{{ mte.total_hour }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import { getTaskByAllusersAPI, getUserlistsAPI } from "../../service/apis.js";
import selectUsers from "../filters/SelectUsers.vue";
export default {
  components: { selectUsers },
  props: {
    msg: String,
  },
  data() {
    return {
      user_selected: null,
      options: [{ username: "username", id: "id" }],

      isBusy: false,
      tasksUsers: [],
    };
  },
  computed: {
    resultQuery() {
      const byTitle = (tasksUsers) =>
        tasksUsers.username.includes(this.user_selected);

      let tasksUsers = this.tasksUsers;

      if (this.user_selected) {
        tasksUsers = tasksUsers.filter(byTitle);
      }

      return tasksUsers;
    },
    isLoggedIn: function() {
      return this.$store.getters.isAuthenticated;
    },
  },
  mounted: function() {
    this.get_tasks_by_allusers();
    this.get_users_list();
  },
  methods: {
    capitalize(value) {
      return value.replace(/(?:^|\s|-)\S/g, (x) => x.toUpperCase());
    },
    async get_users_list() {
      await getUserlistsAPI().then(
        (response) => (this.options = response.data)
      );
    },
    async get_tasks_by_allusers() {
      await getTaskByAllusersAPI().then(
        (response) => (this.tasksUsers = response.data)
      );
    },
  },
};
</script>
<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 80rem;
}
</style>
